
#number-input {
    border: 0;
    font-size: 100px;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

#number-info-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#number-info-table {
    font-size: 30px;
}

td {
    padding: 5px;
    border: 3px solid var(--main-color);
}