
.main-box {
    min-height: 80%;
}

#page-title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#page-content {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}