
body {
    background-color: #8a6bcd;
}

#top-wrapper {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

#back-button {
    width: 100px;
    background-color: #371066;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-title {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content-wrapper {
    background-image: url("/scroll_bg.png");
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100%;
    text-align: center;
}

#all-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#content-div {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    width: 650px;
    height: 200px;
    overflow-y: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#project-link {
    background-color: white;
    width: 400px;
    height: 400px;
}


#maximise-button {
    vertical-align: top;
}

.size-button > img {
    width: 100%;
    height: 100%;
}

$border-size: 4;

.size-button {
    width: 50px;
    height: 50px;
    background-color: #00000000;
    border: #{$border-size}px solid #00000000;
    box-sizing: border-box;
}

.size-button:hover {
    border: #{$border-size}px solid black;
}

.maximised-project-frame {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw !important;
    height: 100vh !important;
}

#minimise-button {
    
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 60%;
}

.hide-minimise-button {
    display: none;
}

@media (width < 1000px) {
    .large-screen-content {
        display: block;
    }

    #page-title {
        color: white;
    }
}