@property --rotation-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 30deg;
}

#background {
    background-image: repeating-linear-gradient(var(--rotation-angle), rgb(58, 58, 58) 100px, rgb(0, 0, 0) 120px, rgb(58, 58, 58) 122px);
}

#background {
    animation-duration: 10s;
    animation-name: background-anim;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes background-anim {
    0% {
        --rotation-angle: 40deg;
    }

    50% {
        --rotation-angle: 50deg;
    }

    100% {
        --rotation-angle: 40deg;
    }
}

.icon-path {
    fill: white!important;
}

.main-box {
    border: 5px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.603);
}

#style-picker-button::before {
    background-color: white;
}

#style-picker-wrapper {
    background-color: black;
    border: 1px solid white;
}

#style-picker-border {
    background-color: white;
}

.style-select {
    background-color: black;
}


* {
    color: white;
}