
#tile-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.tile-main {
    min-height: 400px;
    padding: 10px;
}

#tile-1 {
    grid-column: 1 / 3;
}

.tile-title {
    text-align: center;
    font-size: calc(30px + 2vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tile-content {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: calc(15px + 1vw);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tile-content > p {
    margin: 0;
}

@media (width <= 700px) {
    #tile-wrapper {
        grid-template-columns: 1fr;
    }

    #tile-1 {
        grid-column: 1;
    }
}
