<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tristan's website</title>

    <link href="/common.css" rel="stylesheet" /> 
    {% block head %} {% endblock %}
</head>

<body>
    <div class="large-screen-content">
        {% block content %} {% endblock %}
    </div>

    <div class="small-screen-content">
        <div id="small-header">
            <a href="/">Tristan's Website</a>
        </div>
        {% block smallcontent %} {% endblock %}
    </div>
    
</body>
<footer>
    
</footer>
</html>