{% extends "base.html" %}

{% block head %}
    <link href="main.css" rel="stylesheet" /> 
{% endblock head %}

{% block content %}
<div class="outer-image">
    <div class="inner-image" id="inner-image">
        <map name="image-map">
            <area target="_self" alt="about site" title="about site" href="{{ get_url(path='@/pages/about-site.md') }}" coords="2162,360,2208,544" shape="rect">
            <area target="_self" alt="about me" title="about me" href="{{ get_url(path='@/pages/about-me.md') }}" coords="2280,360,2249,544,2209,535,2209,488,2234,355" shape="poly">
            <area target="_self" alt="projects" title="projects" href="{{ get_url(path='@/projects/_index.md') }}" coords="1817.5,744,1960.5,743,1917.5,726,1945.5,705,1956.5,675,1954.5,652,1938.5,620,1906.5,601,1876.5,601,1850.5,613,1831.5,639,1823.5,668,1834.5,704,1861.5,726" shape="poly">
        </map>
        <img id="background_image" src="/bookshelf_bg.png" alt="Background image of a bookshelf" usemap="#image-map" />
    </div>
</div>

<script src="/area_highlight.js"></script>

{% endblock content %}
