{% extends "base.html" %}

{% block head %}
    <link href="/projects.css" rel="stylesheet" /> 
{% endblock head %}

{% block content %}

<div class="outer-image">
    <div class="inner-image" id="inner-image">
        <img id="background_image" src="/project_portal_bg.png" alt="weird orb thingy" />

    </div>
    <div id="projects-wrapper">
        {% for project in paginator.pages %}
        <a href="{{ project.permalink }}" class="projectDiv" id="project{{ loop.index }}">
            <span class="projectTitleText">{{ project.title }}</span>
        </a>
        {% endfor %}
    
        <nav class="pagination">
            {% if paginator.previous %}
            <a class="paginationButton" id="previousButton" href="{{ paginator.previous }}">
                <span class="previous">Previous</span>
            </a>
            {% endif %}
            {% if paginator.next %}
            <a class="paginationButton" id="nextButton" href="{{ paginator.next }}">
                <span class="next">Next</span>
            </a>
            {% endif %}
        </nav>
    </div>
</div>

<a id="back-button" href="/">
    Main Page
</a>

{% endblock content %}
