@property --rotation-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 30deg;
}

:root {
    --background-color: white;
    --main-color: black;
    --box-background-color: rgba(255, 255, 255, 0.8);
    --text-main-color: black;
}

#background {
    background-image: repeating-linear-gradient(var(--rotation-angle), rgb(139, 139, 139) 100px, white 120px, rgb(139, 139, 139) 122px);
}

#background {
    animation-duration: 10s;
    animation-name: background-anim;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes background-anim {
    0% {
        --rotation-angle: 40deg;
    }

    50% {
        --rotation-angle: 50deg;
    }

    100% {
        --rotation-angle: 40deg;
    }
}
