@property --rotation-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 30deg;
}

:root {
    --background-color: black;
    --main-color: white;
    --box-background-color: rgba(0, 0, 0, 0.6);
    --text-main-color: white;
}

#background {
    background-image: repeating-linear-gradient(var(--rotation-angle), rgb(58, 58, 58) 100px, rgb(0, 0, 0) 120px, rgb(58, 58, 58) 122px);
}

#background {
    animation-duration: 10s;
    animation-name: background-anim;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes background-anim {
    0% {
        --rotation-angle: 40deg;
    }

    50% {
        --rotation-angle: 50deg;
    }

    100% {
        --rotation-angle: 40deg;
    }
}
